////////////////////////////////////////////////////////////////////////////////
// Module Styles
// --------------------
// This partial defines the styles for modules. Most custom
// styling should go here.
//
// Styling of standard HTML elements (paragraphs, headers, lists, etc...) can
// be found in _base.scss.
//
// Positioning of major page elements can be found in _layout.scss.
////////////////////////////////////////////////////////////////////////////////

#header,
#footer {
  @include pad-size($section_padding);
}
#header,
#footer,
#navigation,
#sidebar-first,
#sidebar-second,
#content_top,
#content_bottom {
  //border:$border;
}

#header {
  background: $header_bg;
  height: 150px;
  #name-and-slogan{
    display: inline-block;
    float: right;
  }
  #header-region{
    display: inline-block;
    ul, li{
      display: inline-block;
      position: relative;
      text-transform: lowercase;
    }
    li{
      border-left: solid 1px;
      padding-left: 10px;
      width:160px;
      &.active-trail{
        font-weight: bold;
      }
      li{
        border-left: none;
        font-weight: normal;
        &.active-trail{
          font-weight: bold;
        }
      }
      ul{
        position: absolute;
        top: 100%;
        left: 0;
        padding: 0;
      }
    }
  }
}

#sidebar-first {
  background: $sidebar_first_bg;
}

#sidebar-second {
  background: $sidebar_second_bg;
}

#navigation {
  background: $navigation_bg;
}

#footer {
  background: $footer_bg;
}

// Hide a few overlay elements
.overlay-modal-background{
  background: white;
}

html.js body.is_overlayed{
  background: white !important;
  #header, #navigation{
    display: none;
  }
  &.page-node{
    #content #content-header, .node-inner header{
      display: none
    }
  }

   #page{
    width: $overlay_page_width;
    text-align: center;
    .field-slideshow{
      margin: 0 auto !important;
      .field-slideshow-slide{
        width: 100% !important;
        vertical-align: middle;
        line-height: $overlay_slider_height;
      }
    }
    .field-slideshow-pager a{
      color: transparent;
      &:after{
        content: "○";
        color: black;
      }
    }
   }
}

.page-projects{
  .views-row{
    opacity: 0;
    display: inline-block;
    float: left;
  }
  .project_case{
    img{
      width: 100%;
      height: 100%;
    }
  }
  $size_pad : 100px;
  $margin_pad : 30px;
  @for $i from 0 through 4 {
    .project_size_#{$i} {
      width: $size_pad * $i;
      height: $size_pad * $i;
    }
    .project_marginleft_#{$i} {
      margin-left: $margin_pad * $i;
    }
    .project_margintop_#{$i} {
      margin-top: $margin_pad * $i;
    }
  }
}