////////////////////////////////////////////////////////////////////////////////
// Module Styles
// --------------------
// This partial defines the styles for modules. Most custom
// styling should go here.
//
// Styling of standard HTML elements (paragraphs, headers, lists, etc...) can
// be found in _base.scss.
//
// Positioning of major page elements can be found in _layout.scss.
////////////////////////////////////////////////////////////////////////////////

#header,
#footer {
  @include pad-size($section_padding);
}
#header,
#footer,
#navigation,
#sidebar-first,
#sidebar-second,
#content_top,
#content_bottom {
  //border:$border;
}

#header {
  height: 150px;
  #name-and-slogan{
    display: inline-block;
  }
  #header-region{
    ul, li{
      display: inline-block;
      position: relative;
      text-transform: lowercase;
    }
    li{
      border-left: solid 1px;
      padding-left: 10px;
      width:160px;
      display: block;
      &.active-trail{
        font-weight: bold;
      }
      li{
        border-left: none;
        font-weight: normal;
        &.active-trail{
          font-weight: bold;
        }
      }
      ul{
        position: absolute;
        top: 100%;
        left: 0;
        padding: 0;
      }
    }
  }
}

#sidebar-first {
  background: $sidebar_first_bg;
}

#sidebar-second {
  background: $sidebar_second_bg;
}

#navigation {
  background: $navigation_bg;
}

#footer {
  background: $footer_bg;
}

// Hide a few overlay elements
.overlay-modal-background{
  background: white;
}

html.js body.is_overlayed{
  background: white !important;
  #header, #navigation{
    display: none;
  }
  &.page-node{
    #content #content-header, .node-inner header{
      display: none
    }
  }

   #page{
    width: $overlay_page_width;
    text-align: center;
    .field-slideshow{
      margin: 0 auto !important;
      .field-slideshow-slide{
        width: 100% !important;
        vertical-align: middle;
        line-height: $overlay_slider_height;
      }
    }
    .field-slideshow-pager a{
      color: transparent;
      &:after{
        content: "○";
        color: black;
      }
    }
   }
}

.page-projects{
  .views-row{
    opacity: 0;
    display: inline-block;
    float: left;
  }
  .project_case{
    img{
      width: 100%;
      height: 100%;
    }
  }
  // $size_pad : 100px;
  // $margin_pad : 30px;
  // @for $i from 0 through 4 {
  //   .project_size_#{$i} {
  //     width: $size_pad * $i;
  //     height: $size_pad * $i;
  //   }
  //   .project_marginleft_#{$i} {
  //     margin-left: $margin_pad * $i;
  //   }
  //   .project_margintop_#{$i} {
  //     margin-top: $margin_pad * $i;
  //   }
  // }
}

 // PROJECT PAGE 
 .node-project{
  header{
    display: none;
  }
  .overview_content{
    .field-item{
      cursor: pointer;
      img{
        // max-width: 300px;
        // max-height: 300px;
        width: auto;
        height: auto;
        margin-right: 20px;
        margin-bottom: 20px;
        float: left;
      }
    }
  }
  .slider{
    display: none;
    $slider_width: 550px;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 3;
    .slider_inner{
      position: relative;
      margin-top: 50px;
      .field-name-field-images{
        margin: 0 auto; 
        width: $slider_width;
        position: relative;
        .rslides{
          width: $slider_width;
          height: $slider_width;
          .field-item{
            width: 100%;
            text-align: center;
            line-height: $slider_width;
            vertical-align: middle;
            img{
              vertical-align: middle;
              max-width: $slider_width;
              max-height: $slider_width;
              width: auto;
              height: auto;
            }
          }
        }
        .rslides_nav{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          width: 50%;
          height: 100%;
          opacity: 0.3;
          color: transparent;
          &.next{
            left: auto;
            right: 0;
          }
        }
        .rslides_tabs{
          position: absolute;
          text-align: center;
          width: 100%;
          padding: 0;
          li{
            display: inline-block;
            a{
              color: transparent;
              min-width: 20px;
              display: block;
              &:after{
                content: "•";
                color: black;
                display: block;
              }
            }
            &.rslides_here a:after{
              content: "o";
            }
          }
        }
      }
      .button_container{
        position: absolute;
        top: 0;
        left: 50%;
        .close_button{
          border: none;
          background: transparent;
          margin-left: $slider_width / 2;
        }
      }
    }
  }
 }

/* CONTACT */
.page-node-9{
  #content{
    article{
      .content .field-item{
        img{
          float: left;
          margin-left: 75px;
        }
        .contact_text{
          display: block;
          margin-left: 20px;
          margin-top: 58px;
          float: left;
        }
      }
    }
  }
}


// HOMEPAGE
html {
  height: 100%;
  .node-type-homepage{
    $home_thumb_width: 140px;
    #content{
      width: 900px;
      header{
        display: none;
      }
      .homepage_thumb{
        width: $home_thumb_width;
        height: $home_thumb_width;
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;
        line-height: $home_thumb_width;
        vertical-align: center;
        img{
          vertical-align: center;
        }
      }
    }

    &.page-node-26 {
      background-image: url(/sites/all/themes/becassin_theme/images/build/hintergrund1.jpg);
      background-size: cover;
      background-repeat: none;
      #header {
        height: 150px;
        text-align: center;
        padding-top: 277px;
        font-family: times;
        font-size: 15px;
        color: white;
        text-shadow: 1px 1px 1px black;
        #name-and-slogan{
          float: none;
          #site-slogan {
            display: none;
          }
          a {
            color: white;
            text-shadow: 1px 1px 1px black;
            font-size: 40px;
          }
        }
        #header-region {
          ul {
            padding: 0;
            li {
              border: none;
              width: auto;
              display: inline-block;
              ul {
                display: none;
              }
              a {
                color: white;
                text-transform: uppercase;
                text-shadow: 1px 1px 1px black;
              }
            }
          }
        }
      }

      #content {
        display: none;
      }
    }
  }


  .page-all-projects,
  .node-type-project,
  .node-type-page {
    #page {
      min-width: 1200px;
      padding-top: 40px;
      #header {
        width: 300px;
        float: left;
        position: fixed;
        z-index: 2;
        margin-bottom: 2em;
        #name-and-slogan {
          #site-slogan {
            display: none;
          }
        }
        
        #header-region {
          ul {
            padding: 0;
            li {
              width: auto;
              ul {
                position: relative;
              }
              a {
                text-transform: uppercase;
              }
            } 
          }
        } 
      }
      #main {
        width: 900px;
        float: left;
        margin-left: 300px;
        .overview_content .field-item img {
          height: 250px;
        }
      }
    }
  } 
}
