.page-node-22 .content .field-item:nth-child(1) img{
  margin-left: 90px;
  width: 500px;
  margin-right: 501px;
}
.page-node-22 .content .field-item:nth-child(2) img{
  margin-left: 60px;
  width: 250px;
  margin-top: 100px;
}
.page-node-22 .content .field-item:nth-child(3) img{
  margin-left: 80px;
  width: 600px;
}
.page-node-22 .content .field-item:nth-child(4) img{
  margin-left: 680px;
  width: 264px;
  margin-bottom: 0;
}
.page-node-22 .content .field-item:nth-child(5) img{
  margin-left: 160px;
  width: 360px;
  margin-bottom: 0;
}
.page-node-22 .content .field-item:nth-child(6) img{
  margin-left:800px;
  width: 200px;
  margin-top: -80px;
}
.page-node-22 .content .field-item:nth-child(7) img{
  margin-left: 600px;
  width: 315px;
}
.page-node-22 .content .field-item:nth-child(8) img{
  margin-left: 650px;
  width: 150px;
}
.page-node-22 .content .field-item:nth-child(9) img{
  margin-left: 465px;
  width: 504px;
  margin-top: 20px;
  margin-bottom: 0;
}
.page-node-22 .content .field-item:nth-child(10) img{
  margin-left: 450px;
  width: 580px;
  margin-top: -10px;
}
.page-node-22 .content .field-item:nth-child(11) img{
  margin-left: 80px;
  width: 220px;
  margin-right: 501px;
}
.page-node-22 .content .field-item:nth-child(12) img{
  margin-left: 359px;
  width: 165px;
}
.page-node-22 .content .field-item:nth-child(13) img{
  margin-left: 174px;
  width: 764px;
  margin-top: 40px;
}
.page-node-22 .content .field-item:nth-child(14) img{
  margin-left: 208px;
  width: 140px;
  margin-top: -100px;
}
.page-node-22 .content .field-item:nth-child(15) img{
  margin-left: 938px;
  width: 200px;
  margin-top: 60px;
}
.page-node-22 .content .field-item:nth-child(16) img{
  margin-left: 168px;
  width: 308px;
  margin-top: -30px;
  margin-bottom: 0;
}
.page-node-22 .content .field-item:nth-child(17) img{
  margin-left: 508px;
  width: 384px;
  margin-bottom: 150px;
}
.page-node-22 .content .field-item:nth-child(18) img{
  margin-left: 345px;
  width: 100px;
}
.page-node-22 .content .field-item:nth-child(19) img{
  margin-left: 239px;
  width: 522px;
}
.page-node-22 .content .field-item:nth-child(20) img{
  margin-left: 0;
  width: 178px;
  margin-top: 300px;
}
.page-node-22 .content .field-item:nth-child(21) img{
  margin-left: 202px;
  width: 600px;
  margin-top: 150px;
}
.page-node-22 .content .field-item:nth-child(22) img{
  margin-left: 202px;
  width: 600px;
  margin-top: 100px;
}