.page-node-22 .content .field-item:nth-child(1) img{
  margin-left: 90px;
  width: 500px;
  margin-right: 501px;
}
.page-node-22 .content .field-item:nth-child(2) img{
  margin-left: 100px;
  width: 180px;
  margin-top: 40px;
}
.page-node-22 .content .field-item:nth-child(3) img{
  margin-left: 80px;
  width: 600px;
}
.page-node-22 .content .field-item:nth-child(4) img{
  margin-left: 635px;
  width: 264px;
}
.page-node-22 .content .field-item:nth-child(5) img{
  margin-left: 140px;
  width: 360px;
}
.page-node-22 .content .field-item:nth-child(6) img{
  margin-left:800px;
  width: 200px;
}
.page-node-22 .content .field-item:nth-child(7) img{
  margin-left: 600px;
  width: 315px;
}
.page-node-22 .content .field-item:nth-child(8) img{
  margin-left: 680px;
  width: 150px;
}
.page-node-22 .content .field-item:nth-child(9) img{
  margin-left: 480px;
  width: 504px;
}
.page-node-22 .content .field-item:nth-child(10) img{
  margin-left: 450px;
  width: 580px;
}
.page-node-22 .content .field-item:nth-child(11) img{
  margin-left: 120px;
  width: 220px;
}
.page-node-22 .content .field-item:nth-child(12) img{
  margin-left: 418px;
  width: 165px;
}
.page-node-22 .content .field-item:nth-child(13) img{
  margin-left: 174px;
  width: 764px;
}
.page-node-22 .content .field-item:nth-child(14) img{
  margin-left: 208px;
  width: 140px;
}
.page-node-22 .content .field-item:nth-child(15) img{
  margin-left: 938px;
  width: 200px;
}
.page-node-22 .content .field-item:nth-child(16) img{
  margin-left: 168px;
  width: 308px;
}
.page-node-22 .content .field-item:nth-child(17) img{
  margin-left: 548px;
  width: 384px;
}
.page-node-22 .content .field-item:nth-child(18) img{
  margin-left: 345px;
  width: 200px;
}
.page-node-22 .content .field-item:nth-child(19) img{
  margin-left: 279px;
  width: 522px;
}
.page-node-22 .content .field-item:nth-child(20) img{
  margin-left: 0;
  width: 178px;
}
.page-node-22 .content .field-item:nth-child(21) img{
  margin-left: 282px;
  width: 500px;
}
.page-node-22 .content .field-item:nth-child(22) img{
  margin-left: 282px;
  width: 500px;
}